{% extends "base.html" %} {% block header %} {% include "header.html" %} {%
endblock %}{% block body %}
<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="d-flex flex-column justify-content-center align-items-center"
>
  <div class="hero-container" data-aos="fade-in">
    <h1>Matan Atedgi</h1>
    <p>
      <span class="typed">Python Developer</span>
    </p>
  </div>
</section>
<!-- End Hero -->
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>About</h2>
        <p>
          As a dedicated Airworthiness & Certification Engineer with a robust
          aeronautics background, I'm currently transitioning to a dynamic role
          as a Python Developer. Proficient in Python, web development, and
          project management, I am enthusiastic about applying my engineering
          expertise to the world of software development. I am recognized for
          effective collaboration, leadership, and an unwavering commitment to
          excellence.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img
            src="{{url_for('static' ,filename='img/profile-img.jpg')}}"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Python Developer & Airworthiness Engineer.</h3>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>City:</strong> <span>Rehovot, Israel</span>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <strong>Degree:</strong>
                  <span>B.Sc. Chemical Engineering</span>
                </li>
              </ul>
            </div>
          </div>
          <p>
            Leveraging a background in airworthiness and certification, I have
            acquired expertise in meticulous UAS (unmanned aircraft systems)
            certification processes for global civil and military clients. Now,
            I am excited to bring this diverse skill set to the realm of Python
            development. My focus is on effective problem-solving and creating
            innovative solutions.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Skills</h2>
        <p>
          Proficient in various technical domains, I bring a versatile skill set
          to the table. Here's a glimpse of my capabilities:
        </p>
      </div>
      <div class="skill-block-container">
        <div class="skill-block">
          <i class="bi bi-code-square"></i>
          <br />
          <span>Programming</span>
          <p>
            Proficient in <b>Python</b> with a comprehensive understanding of
            advanced features and best practices.
          </p>
        </div>
        <div class="skill-block">
          <i class="bi-browser-edge"></i>
          <br />
          <span>Web Development (HTML, CSS, JS)</span>
          <p>
            Proficient in <b>HTML</b>, <b>CSS</b>, and <b>JavaScript</b>, with
            experience of using <b>Flask</b> framework to create dynamic,
            single-page applications. Skilled in crafting responsive designs
            using <b>Bootstrap</b>, ensuring optimal user experience across
            devices.
          </p>
        </div>
        <div class="skill-block">
          <i class="bi bi-database"></i>
          <br />
          <span>Database</span>
          <p>
            Experience with <b>SQLite</b> and <b>PostgreSQL</b> Proficient with
            <b>SQLAlchemy</b>, facilitating efficient database interactions and
            migrations.
          </p>
        </div>
        <div class="skill-block">
          <i class="bi bi-git"></i>
          <br />
          <span>Git & GitHub</span>
          <p>Advanced use of Git for version control.</p>
        </div>
        <div class="skill-block">
          <i class="bi bi-gear"></i>
          <br />
          <span>APIs (RESTful)</span>
          <p>Experience with <b>RESTful API</b> development and consumption.</p>
        </div>
        <div class="skill-block">
          <i class="bi bi-clipboard-data"></i>
          <br />
          <span>Project Management</span>
          <p>Leadership in multidisciplinary teams.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Skills Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">
      <div class="section-title">
        <h2>Resume</h2>
        <p>
          Highly motivated Airworthiness & Certification Engineer transitioning
          to a Python Developer role with a strong background in aeronautics and
          expertise in Python, web development, and project management.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Matan Atedgi</h4>
            <p>
              <em>
                Highly motivated Airworthiness & Certification Engineer
                transitioning to a Python Developer role. Proficient in Python,
                web development, and project management. Known for effective
                collaboration, leadership, and a commitment to excellence.
              </em>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>B.Sc. Chemical Engineering</h4>
            <h5>2012 - 2017</h5>
            <p><em>Ben Gurion University, Beer Sheva</em></p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Aeronautics — Airworthiness & Certification Engineer</h4>
            <h5>2023 - Now</h5>
            <p>
              <em
                ><li>
                  Oversaw the meticulous UAS (unmanned aircraft systems)
                  certification process for global civil and military clients,
                  ensuring unwavering compliance with industry standards.
                </li>
                <li>
                  Conducted comprehensive technical reviews, audits, and tests,
                  preparing certification reports.
                </li>
                <li>
                  Provided technical support to UAS development teams,
                  addressing certification aspects and issues.
                </li></em
              >
            </p>
            <!-- Add more details as needed -->
          </div>
          <div class="resume-item">
            <h4>Israeli Air Force — Airworthiness Engineer</h4>
            <h5>2020 - 2023</h5>
            <p>
              <em
                ><li>
                  Managed airworthiness for diverse aircraft, leading engineers
                  in multidisciplinary fields.
                </li>
                <li>
                  Collaborated on Certification Basis and Type Certificate
                  documents, conducting certification committees.
                </li>
                <li>
                  Developed methodologies and policies for military
                  airworthiness.
                </li></em
              >
            </p>
            <!-- Add more details as needed -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Resume Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Portfolio</h2>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-filters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter="filter-web">Web Apps</li>
            <li data-filter="filter-games">Games</li>
            <li data-filter="filter-database">Database</li>
            <li data-filter="filter-flask">Flask</li>
            <li data-filter="filter-tkinter">Tkinter</li>
            <li data-filter="filter-command">Command Line</li>
            <li data-filter="filter-python">Python</li>
            <li data-filter="filter-js">JavaScript</li>
          </ul>
        </div>
      </div>

      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        {% for i in port_dict %}
        <div
          class="col-lg-4 col-md-6 portfolio-item {% for filter in port_dict[i]['filters'] %}filter-{{filter}} {% endfor %}"
        >
          {{port_dict[i]["name"]}}
          <a href="{{url_for('portfolio', port_num=i)}}">
            <div class="portfolio-wrap">
              <img
                src="{{url_for('static',filename='/img/portfolio/'+port_dict[i]['preview_img'])}}"
                class="img-fluid"
                alt=""
              />
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <hr />
    <div class="container">
      <div class="section-title">
        <h2>Contact</h2>
        <p>Feel free to reach out.</p>
        <div class="social-links mt-3 text-left">
          <a
            href="https://github.com/matanate/"
            class="github rounded-circle d-inline-block p-1 m-2"
            target="_blank"
          >
            <i class="bi bi-github"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/matan-atedgi/"
            class="linkedin rounded-circle d-inline-block p-1 m-2"
            target="_blank"
          >
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
{% endblock %}
